{% extends 'dashboard/base.html' %}
{% block show_interactive %}show{% endblock %}

{% block body %}
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h1>Интерактивный отчет</h1>

      <h2>{{ title }}</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
                <th>Редактировать</th>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in table %}
                <tr>
                    <td><button type="submit" class="btn btn-primary">Сохранить</button></td>
                    {% for value in row %}
                        <td><input class="form-control" type="text" value="{{ value }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>

{% endblock %}