{% extends 'dashboard/base.html' %}
{% block show_interactive %}show{% endblock %}
{% block i_al %}{% if table_name == 'access_level' %}active{% endif %}{% endblock %}
{% block i_mem %}{% if table_name == 'member' %}active{% endif %}{% endblock %}
{% block i_gen %}{% if table_name == 'genre' %}active{% endif %}{% endblock %}
{% block i_mov %}{% if table_name == 'movie' %}active{% endif %}{% endblock %}
{% block i_mm %}{% if table_name == 'movie_member' %}active{% endif %}{% endblock %}
{% block i_mg %}{% if table_name == 'movie_genre' %}active{% endif %}{% endblock %}
{% block i_img %}{% if table_name == 'image' %}active{% endif %}{% endblock %}
{% block i_sub %}{% if table_name == 'subscription' %}active{% endif %}{% endblock %}
{% block i_user %}{% if table_name == 'user' %}active{% endif %}{% endblock %}
{% block i_mc %}{% if table_name == 'movie_card' %}active{% endif %}{% endblock %}
{% block i_pr %}{% if table_name == 'promo_code' %}active{% endif %}{% endblock %}
{% block i_upr %}{% if table_name == 'user_promo_code' %}active{% endif %}{% endblock %}

{% block body %}
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h1>Интерактивный отчет</h1>

      <h2>{{ title }}</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
                <th>Редактировать</th>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in table %}
                <tr>
                    <td><button type="submit" class="btn btn-primary">Сохранить</button></td>
                    {% for value in row %}
                        <td><input class="form-control" type="text" value="{{ value }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>

{% endblock %}