{% extends 'dashboard/base.html' %}
{% block show_forms %}show{% endblock %}

{% block body %}
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h1>Отчет с формами</h1>

      <h2>{{ title }}</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
                <th>Редактировать</th>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in table %}
                <tr>
                    <td><a class="btn btn-primary" href="../../admin/client/{{ admin_section }}/{{ row|first }}/change/" target="_blank">Изменить</a></td><!--<button type="submit" class="btn btn-primary">Изменить</button></a></td>-->
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>

{% endblock %}